HTML CODE:

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>WELCOME TO MY PORTFOLIO</h1>
        <nav>
            <button id="navad" ><a href=" " >Home</a></button>
            <button id="navad"><a href=" ">About me</a></button>
            <button id="navad"><a href=" ">College Life</a></button>
            <button id="navad"><a href=" ">Contact me</a></button>
        </nav>
    </header>
    <hr>
    <marquee>Hello everyone this is N Navadeep Reddy welcome to my portfolio and thanks for visiting my website Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quia alias sed totam consequuntur aut blanditiis quis accusamus sequi. Qui quibusdam aliquam rerum tempora accusantium laboriosam sed, veritatis libero! Sit!</marquee>


    <main>
        <div>
            <div class="grid-item">Box1</div>
            <div class="grid-item1">Box2</div>
            <div class="grid-item2">Box3</div>
        </div>
        
    </main>

    <footer>

    </footer>
</body>
</html>

CSS CODE

header{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
}
button{
    border-radius: 10px;
    font-size: 15px;
    
}
body{
    margin: 9px;
}
img{
    border-radius: 500px;

}
.grid-item{
    margin: 2%;
    background-color: rgb(255, 0, 0);
    padding: 5%;
    text-align:center;
    width: 100px;
    height: 100px;
    border-radius 8px;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
.grid-item1{
    margin: 2%;
    background-color: orange;
    padding: 5%;
    text-align:center;
    width: 100px;
    height: 100px;
    border-radius 8px;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
.grid-item2{
    margin: 2%;
    background-color: green;
    padding: 5%;
    text-align:center;
    width: 100px;
    height: 100px;
    border-radius 8px;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
}
@media(max-width: 600px){
    .box{
        background-color: black;
        font-size: 16pxs;
    }
}